<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/signup">
        <input name="login">
        <input name="password">
        <button>Click Me!</button>
    </form>
    <form method="post" action="/signin">
        <input name="login">
        <input name="password">
        <button>Click Me!</button>
    </form>
    <form method="post" action="/logout">
        <input name="name">
        <input name="token">
        <button>Click Me!</button>
    </form>
    <form method="post" enctype="multipart/form-data" action="/todo">
        <input name="header">
        <input name="description">
        <input name="files" type="file" multiple>
        <button>Create todo</button>
    </form>
</body>
</html>